<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null" />
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="PresentationFramework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
      <buildProviders>
        <add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="51200" executionTimeout="3600" />
    <customErrors mode="RemoteOnly" defaultRedirect="404.aspx">
      <error statusCode="404" redirect="404.aspx" />
    </customErrors>
  </system.web>
  <appSettings>
    <add key="OrientationAccessSecret" value="Nortwest-Orientation-Secret-2026" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
    <add key="CrystalReportsJobsLimit" value="150" />
  </appSettings>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Rewrite About Us" stopProcessing="true">
          <match url="^about-us/?$" ignoreCase="true" />
          <action type="Rewrite" url="About.aspx" />
        </rule>
        <rule name="Rewrite Contact Us" stopProcessing="true">
          <match url="^contact-us/?$" ignoreCase="true" />
          <action type="Rewrite" url="Contact.aspx" />
        </rule>
        <rule name="Rewrite Courses" stopProcessing="true">
          <match url="^courses/?$" ignoreCase="true" />
          <action type="Rewrite" url="Courses.aspx" />
        </rule>
        <rule name="Rewrite Course BSB30120" stopProcessing="true">
          <match url="^courses/bsb30120/?$" ignoreCase="true" />
          <action type="Rewrite" url="Course_Detail.aspx?code=BSB30120" />
        </rule>
        <rule name="Rewrite Course BSB40120" stopProcessing="true">
          <match url="^courses/bsb40120/?$" ignoreCase="true" />
          <action type="Rewrite" url="Course_Detail.aspx?code=BSB40120" />
        </rule>
        <rule name="Rewrite Course BSB50120" stopProcessing="true">
          <match url="^courses/bsb50120/?$" ignoreCase="true" />
          <action type="Rewrite" url="Course_Detail.aspx?code=BSB50120" />
        </rule>
        <rule name="Rewrite Course BSB50420" stopProcessing="true">
          <match url="^courses/bsb50420/?$" ignoreCase="true" />
          <action type="Rewrite" url="Course_Detail.aspx?code=BSB50420" />
        </rule>
        <rule name="Rewrite Course BSB60120" stopProcessing="true">
          <match url="^courses/bsb60120/?$" ignoreCase="true" />
          <action type="Rewrite" url="Course_Detail.aspx?code=BSB60120" />
        </rule>
        <rule name="Rewrite Enrolment" stopProcessing="true">
          <match url="^enrolment/?$" ignoreCase="true" />
          <action type="Rewrite" url="Enrolment.aspx" />
        </rule>
        <rule name="Rewrite Calendar Dates" stopProcessing="true">
          <match url="^calendar-dates/?$" ignoreCase="true" />
          <action type="Rewrite" url="Calendar.aspx" />
        </rule>
        <rule name="Rewrite Intake Dates" stopProcessing="true">
          <match url="^intake-dates/?$" ignoreCase="true" />
          <action type="Rewrite" url="Calendar.aspx" />
        </rule>
        <rule name="Rewrite Student Support" stopProcessing="true">
          <match url="^student-support/?$" ignoreCase="true" />
          <action type="Rewrite" url="Student_Support.aspx" />
        </rule>
        <rule name="Rewrite Fees" stopProcessing="true">
          <match url="^fees/?$" ignoreCase="true" />
          <action type="Rewrite" url="Fees.aspx" />
        </rule>
        <rule name="Rewrite Policies" stopProcessing="true">
          <match url="^policies/?$" ignoreCase="true" />
          <action type="Rewrite" url="Policies.aspx" />
        </rule>
        <rule name="Rewrite Downloads" stopProcessing="true">
          <match url="^downloads/?$" ignoreCase="true" />
          <action type="Rewrite" url="Downloads.aspx" />
        </rule>
        <rule name="Redirect college-courses" stopProcessing="true">
          <match url="^college-courses/?$" ignoreCase="true" />
          <action type="Redirect" url="/courses" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404" />
      <error statusCode="404" path="/404.aspx" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
  <connectionStrings>
    <add name="myConnectionString" connectionString="Data Source=103.190.26.178,8082; Initial Catalog=nortwest_website; Max Pool Size=2000; User ID=nortwest_website; Password=Hardik@5566;" />
    <add name="server_url" connectionString="https://nortwest.edu.au/" />
  </connectionStrings>
  <businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true" />
      </rptBuildProvider>
    </crystalReports>
  </businessObjects>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800" />
        <!-- 50 MB -->
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.68.0.0" newVersion="1.68.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.68.0.0" newVersion="1.68.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.68.0.0" newVersion="1.68.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>